<html>
<head><title></title></head>
<body>
<p>
#if ( "$!user.getFirstName()" == "" and "$!user.getLastName()" == "" )
	Dear user,<br/>
#else
	Dear $user.getFirstName() $user.getLastName(),<br/>
#end
</p>
<p>
your password for $siteName has been reset and a new password has been generated.
</p>
<p>
<b>Here's your new password</b>: $newPlainPassword
</p>
<p>Log in: <a href="${loginUrl}">${loginUrl}</a></p>
<p>
For security reasons, you will be asked to change your password upon first login.
You can change your password at any time after logging in using the <a href="${changePwUrl}">"Change password"</a> link on the bottom of the page.
</p>
<p>
You can edit your profile information
#if ("$user.isApiKeyAllowed()")
 (including generating an API key)
#end
 on the<a href="${profileUrl}">"My profile"</a> page which is also linked on the bottom of the page.
</p>
<p>
Your $siteName team
</p>
</body>
</html>