<html>
<head><title></title></head>
<body>
<p>
#if ( "$!user.getFirstName()" == "" and "$!user.getLastName()" == "" )
	Dear user,<br/>
#else
	Dear $user.getFirstName() $user.getLastName(),<br/>
#end
</p>
<p>
someone (probably you) has requested to reset your password at $siteName. To reset your password, please click on the following link
or copy it to your browser and follow the link:
</p>
<p>
<a href="${resetUrl}?user=$escape.url($user.getUserName())&amp;resetKey=$escape.url($user.getResetKey())">${resetUrl}?user=$escape.url($user.getUserName())&amp;resetKey=$escape.url($user.getResetKey())</a>
</p>
<p>
<br/>
Your $siteName team
</p>
</body>
</html>
